---
layout: default
title: journal
description: a wookie walks a lot.
featured_image:
---

<section class="intro">

	<div class="wrap">
		<!--<h1>{{ page.title }}</h1>-->

		<p style="margin:0 0 2em;"><small>
			{% capture temptags %}
				{% for tag in site.tags %}
					{{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
				{% endfor %}
			{% endcapture %}
			{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
			{% for temptag in sortedtemptags %}
				{% assign tagitems = temptag | split: '#' %}
				{% capture tagname %}{{ tagitems[1] }}{% endcapture %}
				<a class="blog-post__tag" href="/topics/{{ tagname }}">{{ tagname }}</a>
			{% endfor %}
		</small></p>
	</div>

</section>

<section class="blog single">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="blog-post">

			<div class="blog-post__header">
				<h2 class="blog-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
			</div>

			{% if post.featured_image %}
			<a href="{{ post.url }}" class="blog-post__image" style="background-image: url({{ post.featured_image  }});"></a>
			{% endif %}

			<div class="blog-post__content">
				<p>{{ post.excerpt }}</p>
				<p><a href="{{ post.url }}" class="button">Read More</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--large">
			<svg style="display:inline-block; font-size:inherit; height:1em; overflow:visible; vertical-align:-.125em; width:.875em;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="{{ site.data.settings.site_icons.left_arrow }}"></path>
			</svg>
			<span>Newer Posts</span>
		</a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--large">
			<span>Older Posts</span>
			<svg style="display:inline-block; font-size:inherit; height:1em; overflow:visible; vertical-align:-.125em; width:.875em;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path fill="currentColor" d="{{ site.data.settings.site_icons.right_arrow }}"></path>
			</svg>
		</a>
	</div>
	{% endif %}

</section>

{% endif %}
